<div class="sidebar d-none d-lg-block p-3">
  <ul *ngIf="categories.length > 0; else noCategories">
    <li *ngFor="let category of categories" class="category-item">
      <a [routerLink]="['/userproducts', category._id]">
        {{ category.name }}
        <i class="fas fa-arrow-right arrow-icon"></i>
      </a>
    </li>
  </ul>
  <ng-template #noCategories>
    <p>No categories available.</p>
  </ng-template>
</div>

<button class="btn btn-danger d-lg-none mt-5 mb-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar">
  <i class="fas fa-bars"></i> Categories
</button>

<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="mobileSidebar">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Categories</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul *ngIf="categories.length > 0; else noCategories">
      <li *ngFor="let category of categories" class="category-item">
        <a [routerLink]="['/userproducts', category._id]" data-bs-dismiss="offcanvas">
          {{ category.name }}
          <i class="fas fa-arrow-right arrow-icon"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
