<app-sidebar></app-sidebar>
<div class="container mt-5">
    <h1>Orders</h1>
    <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" class="text-dark">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Total</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (item of orders; track $index) {
            <tr>
                <th scope="row">{{$index+1}}</th>
                <td>{{item.items[0].name}} <br> +{{item.items.length-1}} other Product</td>
                <td>{{item.createdAt | date : 'dd/mm/yyyy'}}</td>
                <td>{{item.user.name}}</td>
                <td>{{item.totalAmount}}$</td>
                <td>{{item.paymentMethod.type}}</td>
                <td>{{item.status}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="goToOrderDetails(item)">
                        <i class="fa fa-eye"></i>
                      </button>
                </td>
            </tr>
            }
    </table>
</div>