<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Women's Fashion</a>
  <a href="#" class="list-group-item list-group-item-action">Men's Fashion</a>
  <a href="#" class="list-group-item list-group-item-action">Electronics</a>
  <a href="#" class="list-group-item list-group-item-action">Home & Lifestyle</a>
  <a href="#" class="list-group-item list-group-item-action">Medicine</a>
  <a href="#" class="list-group-item list-group-item-action">Medicine</a>
  <a href="#" class="list-group-item list-group-item-action">Medicine</a>
  <a href="#" class="list-group-item list-group-item-action">Sports & Outdoor</a>
  <a href="#" class="list-group-item list-group-item-action">Sports & Outdoor</a>
  <a href="#" class="list-group-item list-group-item-action">Sports & Outdoor</a>
</div>
