.empty-state {
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.empty-state img {
  max-width: 150px;
  opacity: 0.6;
}

.btn-primary {
  margin-top: 1rem;
}

.allProductText:hover, .categoryText:hover {
  color: #dc3545;
}
