<header class="header d-flex align-items-center justify-content-center px-4 py-3 shadow-sm">
  <div class="logo">SHOP<span class="dot">.</span>CO</div>

  <div class="center-area d-flex align-items-center gap-4 me-auto ">
    <nav>
      <ul class="nav-list d-flex list-unstyled gap-4 mb-0">
        <li><a href="#">Shop</a></li>
        <li><a href="#">New Arrivals</a></li>
      </ul>
    </nav>

    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (keydown.enter)="onSearch()"
        placeholder="Search for products..."
        class="search-input"
      />
      <button class="search-button" (click)="onSearch()">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="header-actions d-flex align-items-center gap-4">
    
    <div class="wishlist-counter" (click)="navigateToWishlist()" title="View Wishlist">
      <i class="fas fa-heart"></i>
      <span *ngIf="wishlistCount > 0" class="counter-badge">
      1
      </span>
    </div>
  
    <a [routerLink]="['/cart']" class="cart" title="Cart"><i class="fas fa-shopping-cart"></i></a>
    <a href="#" class="user" title="User"><i class="fas fa-user"></i></a>
  </div>
</header>
