<app-sidebar></app-sidebar>
<div class="container mt-5">
    <h1>Customers</h1>
    <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="'/'" class="text-dark">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="'/customer'">Customers List </a></li>
                <li class="breadcrumb-item active" aria-current="page">Customer Details</li>
            </ol>

        </nav>
        <button class="btn btn-info" [routerLink]="'/addcategory'" disabled> + Add Customer</button>
    </div>
    <div class="customer-details-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="customer-info">
                    <img src="https://picsum.photos/200/300" alt="customer image" class="img-fluid rounded-circle">
                    <h3 class="text-center">Linda Blair</h3>
                    <p class="text-center ">Customer</p>
                    <hr>
                    <div class="info-card">
                        <div class="user-info">
                            <div class="info-item">
                                <i class="fas fa-envelope"></i>
                                <p><strong>Billing Email:</strong> lindablair.com</p>
                            </div>

                            <div class="info-item">
                                <i class="fas fa-phone"></i>
                                <p><strong>Phone Number:</strong> 050 414 8778</p>
                            </div>

                            <div class="info-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <p><strong>Address:</strong> 1833 Bel Meadow Drive, Fontana, California 92335, USA</p>
                            </div>

                            <div class="info-item">
                                <i class="fas fa-shopping-cart"></i>
                                <p><strong>Latest Transaction:</strong> 12 December 2022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <section class="dashboard-summary">
                    <div class="card">
                        <i class="fas fa-wallet card-icon"></i>
                        <p class="card-title">Total Balance</p>
                        <h3 class="card-value">$723.00 <span class="negative">-25%</span></h3>
                    </div>
                    <div class="card">
                        <i class="fas fa-shopping-cart card-icon"></i>
                        <p class="card-title">Total Orders</p>
                        <h3 class="card-value">1,296 <span class="positive">+10%</span></h3>
                    </div>
                    <div class="card">
                        <i class="fas fa-gem card-icon"></i>
                        <p class="card-title">Rewards Point</p>
                        <h3 class="card-value">1400 <span class="positive">+10%</span></h3>
                    </div>
                </section>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- @for (item of categories; track $index) { -->
                        <tr>
                            <th scope="row">1</th>
                            <td>Mostafa</td>
                            <td>5</td>
                            <td>2</td>
                            <td>cancle</td>
                            <td>20/1/2025</td>
                            <td>
                                <button class="btn btn-sm btn-primary" [routerLink]="'/customerdetails'">
                                    <i class="fa fa-eye"></i>
                                  </button>

                                <button class="btn btn-sm btn-warning ms-2" [routerLink]="'/updatecustomer'">
                                    <i class="fa fa-pen"></i>
                                  </button>

                                <button class="btn btn-sm btn-danger ms-2 "><i class="fa fa-trash "></i></button>
                            </td>
                        </tr>
                        <!-- } -->
                        <tr>
                            <th scope="row">2</th>
                            <td>Maged</td>
                            <td>5</td>
                            <td>6</td>
                            <td>proccessing</td>
                            <td>20/1/2025</td>
                            <td>
                                <button class="btn btn-sm btn-primary" [routerLink]="'/customerdetails'">
                                    <i class="fa fa-eye"></i>
                                  </button>

                                <button class="btn btn-sm btn-warning ms-2" [routerLink]="'/updatecustomer'">
                                    <i class="fa fa-pen"></i>
                                  </button>

                                <button class="btn btn-sm btn-danger ms-2 "><i class="fa fa-trash "></i></button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>